:root {
    --color-quiet: #616161;
    --color-inverse: #FFFFFF;
    --color-accent: #3643BA;
    --color-accent-hover: #313DAA;
    --color-accent-active: #262F82;

    --text-color: #101010;
}

@font-face {
    font-family: 'Decathlon';
    src: url('/assets/fonts/Decathlon-VF.19016feb.woff2') format('woff2');
}

body {
    font-family: 'Decathlon', arial, sans-serif;
    color: var(--text-color);
}