:root {
    --color-quiet: #616161;
    --color-quiet-secondary: #F5F4F5;
    --color-inverse: #FFFFFF;
    --color-accent: #3643BA;
    --color-accent-hover: #313DAA;
    --color-accent-active: #262F82;

    --text-color: #101010;
}

@font-face {
    font-family: 'Decathlon';
    src: url('/assets/font/Decathlon-VF.19016feb.woff2') format('woff2');
}

body {
    font-family: 'Decathlon', arial, sans-serif;
    color: var(--text-color);
    margin: 8px 0 0 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        padding: 0;

        li {
            &.nav-hover-element {
                border-radius: 100%;
                padding: 12px;
                transition: .15s;

                &:hover {
                    background-color: var(--color-quiet-secondary);
                    cursor: pointer;
                }
            }

            &.nav-hover-element-logo {
                cursor: pointer;
                
                svg {
                    path {
                        transition: .15s;
                    }
                }

                &:hover svg path {
                    fill: var(--color-accent-hover);
                }
            }
        }
    }
}

main {
    margin-left: 16px;
    margin-right: 16px;
}

.search-bar {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0px 8px 0px 24px;
    border-radius: 2rem;
    background: var(--color-quiet-secondary );
    height: 3rem;
    margin-bottom: 16px;
    outline: 2px solid transparent;
    transition: outline 0.1s ease-in-out;

    &:focus-within {
        outline: 2px solid var(--color-accent);
    }

    .input {
        border: none;
        font-size: 16px;
        width: 100%;
        height: 100%;
        background: transparent;

        &:focus {
            outline: none;
        }
    }
}

.photo-grid {
    display: flex;
    gap: 8px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    
    .photo-preview {
        scroll-snap-align: center;
        background-color: var(--color-quiet-secondary);
    }
}

h1 {
    font-size: 26px;

    &.brand {
        font-size: 22px;
    }
}

p {
    &.prod-id {
        font-size: 12px;
        color: var(--color-quiet);
        margin-bottom: 20px;
    }

    &.prod-desc {
        margin-bottom: 0px;
    }

    &.price {
        background-color: #FFCD4E;
        width: fit-content;
        padding: 4px;
        margin-top: 30px;
        font-weight: bold;
        font-size: 22px;
    }
}

.review-stars {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3px;
}

.size-selector-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 30px;
}

/* Custom selector van Codepen (https://codepen.io/una/pen/eYojgZw) */
select,
::picker(select) {
  border: 2px rgb(240, 240, 240) solid;
}

@supports (appearance: base-select) {
    select,
    ::picker(select) {
        appearance: base-select;
    }  
}

option::checkmark {
  display: none;
}

option {
  display: grid;
  grid-template-columns: 1.5rem 1fr;
  gap: 1rem;
  font-size: 1rem;
  align-items: center;
  place-items: initial;
  padding: 1rem;
}

[hidden] {
  display: none;
}

select {
  background: var(--color-quiet-secondary);
  align-items: center;
  padding: 1rem;
  border-radius: 0;
  border: none;
  cursor: pointer;
  transition: background-color .15s;

  &:hover {
    background-color: rgb(230, 230, 230);
  }
}

label {
    width: fit-content;
}

.amount-button-container {
    display: flex;
    align-items: center;
    border-radius: 40px;
    outline: 1px var(--color-quiet) solid;
    width: fit-content;
    margin-top: 30px;
    padding: 4px;
    overflow: hidden;

    button,
    input {
        padding: 8px;
        border: none;
        background: transparent;
    }

    input {
        width: 45px;
        text-align: center;
        font-size: 16px;
    }

    button {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        transition: background-color .15s;

        &:hover {
            background-color: rgb(240, 240, 240);
        }
    }
}

.basket-submit-button {
    background-color: var(--color-accent);
    border: none;
    color: white;
    padding: 1rem;
    width: 100%;
    min-height: 4rem;
    font-size: 14px;
    font-family: "Decathlon";
    margin-top: 16px;
    margin-bottom: 16px;
    cursor: pointer;
    transition: background-color .3s;

    &:hover {
        background-color: var(--color-accent-hover);
    }
}

.final-rating {
    font-size: 36px;
    font-weight: bold;
    margin-right: 3px;
}

.review-item {
    border-bottom: 2px solid var(--color-quiet-secondary);
    padding-top: 32px;
    padding-bottom: 32px;

    .review-attributes {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        padding: 0;
        list-style: none;

        li {
            display: flex;
            align-items: center; 
        }

        .score {
            font-size: 14px;
            font-weight: bold;
            margin-right: 12px;
            display: flex;
            align-items: center;
            gap: 6px;
        }

        .criteria {
            color: var(--color-quiet);
        }
    }

    .review-title {
        font-size: 22px;
        font-weight: bold;
    }

    .review-information {
        font-size: 12px;
        color: var(--color-quiet);
        margin: 0;
    }
}

footer {
    margin-top: 30px;
}